<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Home</title>
		<link href='list_style.css' rel='stylesheet' type='text/css'/>
	</head>

	<body>

		{{> navbar}}

		<div id="menu">
            
            <input id='chooseCategory' placeholder='Enter a category'/>
            <button id='delCategory'>Delete Category</button>
			<input id='chooseItem' placeholder='Enter an item' />
            <button id='newItem'>New Item</button>
			<button id='delItem'>Delete Item</button>
		</div>

		<div id='categories'>
			{{#each lists as |list|}}
					<h2>{{list.name}}</h2>
            <hr />
                <button id='newCategory'>New Category</button>
				{{#each list.categories as |categories|}}
					<ul id='{{categories.name}}'><h4>{{categories.name}}</h4>
					{{#each categories.items}}
						<li id='{{this}}'>{{this}}</li>
					{{/each}}
					</ul>
				{{/each}}
			{{/each}}

		</div>
        
		<script src='list_js.js'></script>
	</body>
	{{navbar}}
</html>