<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>Home</title>
		<link href='home_style.css' rel='stylesheet' type='text/css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		
		{{> navbar}}

		<div id='logo' class='text'>
			<div class='logoText'>
				<h1>Welcome {{username}}</h1>
			</div>
		</div>
		<div class="outermain">
			<div class="innermain">
				<div class='text'>
						<h3 style="text-align: center;"><b>Your Shopping Lists:</b></h3>
						<div id='createList'>
							<div id='lists'>
								<input id='chooseList' placeholder='Enter a list' required />
								<button id='addList'></button>
								<button id='delList'></button>	
							</div>
						</div>
				</div>

				<div>
					<form id='radioForm' action="/listPage" method="post">
					{{#each lists as |list|}}
						<input id="{{list.name}}" type="radio" name="radioList" value='{{list.name}}'>
						<label for='{{list.name}}'>{{list.name}}<br>
					{{/each}}
						<input type='submit' value='Edit list'>
					</form>
				</div>
			</div>
		</div>
		<script src='home_js.js'></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</body>
</html>