<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>Home</title>
		<link href='home_style.css' rel='stylesheet' type='text/css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		{{> navbar}}

		<div class='text'>
			<h1>Welcome {{username}}</h1>
		</div>

		<div id="outerMain">
			<div id="innermain">
				<div class='text'>
					<h3><b>Your Shopping Lists:</b></h3>
					<button class='button' id='addList'>Create a new list</button>
				</div>

				<div>
					<form id='radioForm' action="/listPage" method="post" onsubmit="return valid();" >
					{{#each lists as |list|}}
						<input type="radio" name="radioList" id="{{list.name}}" value="{{list.name}}"><label for='{{list.name}}'>{{list.name}}</label><br>
					{{/each}}
						<input type='submit' class='button' id='sendButton' value='Open List'>
					</form>
				</div>
				<div id='editButtons'>
					<button class='button' id='renameList'>Rename List</button>
					<button class='button' id='delList'>Delete List</button>
				</div>
			</div>
		</div>

		<script src='home_js.js'></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</body>
</html>